.favouriteButton {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border: none;
  background: transparent;
  cursor: pointer;

  transition: transform 0.2s ease;
}

.icon {
  font-size: 1.2rem;
  color: var(--text-secondary);

  transition:
    color 0.25s ease,
    transform 0.2s ease;
}

.activeIcon {
  font-size: 1.2rem;
  color: #ef476f;

  transition:
    color 0.25s ease,
    transform 0.2s ease;
}

.favouriteButton:hover .icon,
.favouriteButton:hover .activeIcon {
  transform: scale(1.1);
}
