.searchInput {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;

  background: var(--surface-color);
  color: var(--text-color);

  border: 1px solid var(--border-color);
  border-radius: 0.75rem;
  box-shadow: var(--shadow);

  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;
}

.searchInput::placeholder {
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .searchInput {
    width: 50%;
  }
}
