.appHeader {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background: var(--surface-color);
  box-shadow: var(--shadow);
  transition: 0.25s;
}

.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.right {
  justify-content: flex-end;
}

.nav {
  flex: 1;

  display: flex;
  justify-content: center;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  text-decoration: none;
  color: var(--text-color);

  font-size: 2rem;
  font-weight: 600;
}

.logoText {
  display: inline;
}

.navLink,
.activeLink {
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem 0.25rem;
  border-bottom: 2px solid transparent;

  transition:
    color 0.25s ease,
    border-color 0.25s ease,
    transform 0.2s ease,
    opacity 0.2s ease;
}

.navLink {
  font-weight: 500;
}

.activeLink {
  font-weight: 600;
  border-bottom-color: var(--text-color);
}

.navLink:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}

@media (max-width: 768px) {
  .nav {
    gap: 2rem;
  }

  .logoText {
    display: none;
  }
}

@media (max-width: 425px) {
  .nav {
    gap: 0.5rem;
  }
  .appHeader {
    padding: 0.6rem 0.75rem;
  }

  .navLink,
  .activeLink {
    font-size: 0.9rem;
    padding: 0.35rem 0.15rem;
  }

  .logo {
    font-size: 1.1rem;
  }
}
