.appHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--surface-color);
  box-shadow: var(--shadow);

  transition: 0.25s;
}

.appHeader a {
  text-decoration: none;
  color: var(--text-color);
}
