.paginationWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0;
}
.pageButton {
  background: var(--surface-color);
  color: var(--text-color);
  font-size: 1rem;

  padding: 0.5rem 0.75rem;
  border-radius: 999px;
  border: 1px solid var(--border-color);

  cursor: pointer;

  transition: all 0.25s ease;
}

.pageButton:hover {
  background: var(--accent-color);
  color: white;
}

.active {
  background-color: var(--accent-color);
  color: white;
}
